/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";
@namespace skins "com.flexcapacitor.skins.*";
@namespace controls "com.flexcapacitor.controls.*";


controls|Hyperlink {
	color:black;
}

controls|Hyperlink.linkStyle {
	color:blue;
}
controls|Hyperlink:hover, controls|Hyperlink:over {
	color:blue;
}
mx|DragManager {
/*	copyCursor: Embed(source="assets/globe.jpg");*/
	copyCursor: ClassReference(null);
}
s|NumericStepper {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillNumericStepperSkin");
}
s|Button {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillButtonSkin");
}
s|DropDownList {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillDropDownListSkin");
}
s|ComboBox {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillComboBoxSkin");
}
s|CheckBox {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillCheckBoxSkin");
}
s|RadioButton {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillRadioButtonSkin");
}
s|ButtonBar {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillButtonBarSkin");
}
s|ToggleButton {
	skinClass:ClassReference("com.flexcapacitor.skins.SolidFillToggleButtonSkin");
}
s|Scroller {
	skinClass: ClassReference("com.flexcapacitor.skins.MinimalScrollerSkin");
}

global {
	fontFamily: Verdana;
	selectionColor: #d8d8d8;
	rollOverColor: #d8d8d8;
	caretColor: #d8d8d8;
}

mx|ToolTip { 
    fontSize: 12;
	color: #585858;
    backgroundColor: #FCFCFC;
	cornerRadius: 3;
}


.constraintStyles {
	fontSize:12;
}

.inputStyles {
	fontSize: 12;
	focusAlpha : 0;
	borderColor: #b8b8b8;
}

.stateLabel {
	color: #989898;
	fontSize: 12;
}

.textInputStyles {
	fontSize: 12;
}

.loginLabel {
	color: #686868;
}

s|SkinnableTextBase:normalWithPrompt {
	fontStyle:normal;
	color: #CCCCCC;
}

s|TextBase:normalWithPrompt {
	fontStyle:normal;
	color: #CCCCCC;
}

s|TextInput:normalWithPrompt {
	fontStyle:normal;
	color: #CCCCCC;
	borderColor: #b8b8b8;
}

controls|SearchTextInput:normalWithPrompt {
	fontStyle:normal;
	color: #b8b8b8;
}

controls|ClearButtonTextInput:normalWithPrompt {
	fontStyle:normal;
	color: #b8b8b8;
}


mx|MenuBar#mainMenuBar {
    /*chromeColor: #333333;
    borderVisible: true;
    borderColor: #000000;
    borderAlpha: 0;
    borderStyle: solid;
    borderWeight: 2;
    color: #FFFFFF;
    contentBackgroundColor: #333333;
    contentBackgroundAlpha: 0.8;
    rollOverColor: #AAAAAA;
    itemRollOverColor: #FF0000;*/
   	/* changes background color at top level*/
	backgroundSkin: ClassReference("com.flexcapacitor.skins.MenuBarButtonSkin");
   	/* changes background HOVER color at top level of menu bar */
	itemSkin: ClassReference("com.flexcapacitor.skins.MenuItemSkin");
    color: #EFEFEF;
    rollOverColor: #AAAAAA;
    itemRollOverColor: #FF0000;
}

 mx|MenuItemRenderer{
  color:#585858;
}

s|Panel {
	skinClass: ClassReference("com.flexcapacitor.skins.PanelSkin");
	showHeader: true;
	backgroundColor: #FFFFFF;
/*	headerBackgroundColor: #a71717;*/
	headerBackgroundColor: #444444;
	headerBackgroundAlpha: 1;
	headerTextColor: #ffffff;
	headerDividerColor: #000000;
	headerDividerWeight: 2;
	cornerRadius: 4;
	borderVisible: true;
	borderWeight: 2;
	borderAlpha: 1;
	borderColor: #181818;
}
/*
s|Panel skins|PanelSkin#titleDisplay {
	backgroundColor: #00ff00;
	backgroundAlpha: 1;
}*/

mx|TabNavigator {
	
}

mx|TabNavigator {
	tabStyleName: tabStyle;
	/*borderStyle: inset;*/
	tabOffset: 0;
	/*border-color: #FF0000;*/
}

mx|TabNavigator .tabStyle {
	fontFamily: Verdana;
	fontSize: 10;
	cornerRadius: 0;
	skin:ClassReference("com.flexcapacitor.skins.solidFillSupportClasses.SolidFillTabNavigatorButtonSkin");
}

mx|Tab {
	textFieldClass: ClassReference("mx.core.UIFTETextField");/* default is mx.core.UITextField*/
}

/*
mx|TabBar {
   fillColors: #006699, #cccc66;
   upSkin: ClassReference("CustomSkinClass");
   overSkin: ClassReference("CustomSkinClass");
   downSkin: ClassReference("CustomSkinClass");
}*/

/* used to set the label width of the dynamic property inspector panels */
.inspectablePanel {
	labelWidth: 112;
	gap: 12;
	focusColor: #CCCCCC;
}

.inspectablePanelLabel {
	textAlign: right;
}

.formItem {
	/* backgroundColor:#e6e6e6; */
	backgroundColor:#a2a2a2;
	backgroundAlpha:.25;
	paddingLeft:6;
	paddingTop:5;
	paddingBottom:3;
	fontSize:10;
	fontWeight:bold;
	textAlpha:.75;
	typographicCase:uppercase;
}

controls|ColorPicker {
	textInputClass:ClassReference("com.flexcapacitor.controls.ClearButtonTextInput");
	swatchPanelStyleName:mySwatchPanelStyle;
}

.mySwatchPanelStyle {
	swatchHeight:18;
	swatchWidth:18;
	textFieldWidth:150;
/*	
	backgroundColor:#E5E6E7;
	columnCount:20;
	horizontalGap:0;
	previewHeight:122;
	previewWidth:45;
	swatchGridBackgroundColor:#000000;
	swatchGridBorderSize:0;
	swatchHeight:22;
	swatchHighlightColor:#FFFFFF;
	swatchHighlightSize:1;
	swatchWidth:22;
	textFieldWidth:150;
	verticalGap:0;
*/
}

controls|RichTextEditorBar {
	fontSize: 10;
}